/* Drop down filter styling */
.filters {
    background-color: white;
    border: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.location, .amenities {
    height: 100%;
    width: 25%;
    border-left: 1px solid #DDDDDD;
    padding: 1px;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.locations .popover,
.amenities .popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    position: absolute; /* makes the list independent from the div */   
    padding: 10px;
    width: 25%;
    margin: 0;
}
.locations .popover li {
    margin: 5px 0;
}
.button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    border: 1px solid #DDDDDD;
    font-size: 18px;
    height: 48px;
    width: 20%;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

h3 {
    font-weight: 600;
}
h4 {
    font-weight: 400;
    font-size: 14px;
}
.button:hover {
    opacity: 0.9;
}